@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  margin: 0px;
  padding: 0px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade {
  animation: fade 1.6s ease-in-out infinite;
}
